{% extends "base.html" %} {%block sidebar %} {% for category in categories %}
<li>
    <a href="category/{{category.id}}" class="list-group-item-diloo sidebar-element active-diloo-1">
        <img src="{{category.image}}" height="40" />{{category.name}}</a>
</li>
{% endfor %} {% endblock %} {%block feed %} {% if user.is_active %}
<div id="feed-publico" class="col-sm-8 col-md-6 feed">
    <h1>¿Qué ocurre?</h1>
    <div class="media post">
        <a class="pull-left" href="#">
            <img class="media-object img-rounded" src="#" width="50" height="50">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Crítica de prueba</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, quis, mollitia delectus itaque ipsam excepturi doloremque dolorum perspiciatis velit in qui placeat quas inventore possimus a reiciendis odio earum totam?
        </div>
    </div>
</div>

<div id="feed-privado" class="col-sm-8 col-md-6 feed">
    <h1>Personalizado</h1>
    <div class="media post">
        <a class="pull-left" href="#">
            <img class="media-object img-rounded" src="#" width="50" height="50">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Crítica de prueba 2</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, consequuntur, maiores, cum reprehenderit inventore fugiat minima debitis eius recusandae et ut laborum quas quaerat hic magni adipisci voluptatibus rerum aliquam.
        </div>
    </div>
</div>
{% else %}
<div id="feed-publico" class="col-sm-8 col-md-10 col-md-offset-1 feed">
    <h1>¿Qué ocurre?</h1>
    <div class="media post">
        <a class="pull-left" href="#">
            <img class="media-object img-rounded" src="#" width="50" height="50">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Crítica de prueba</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, dolorum, magni officiis esse quod quam quos asperiores assumenda illum adipisci nostrum delectus excepturi reprehenderit cumque laboriosam vero doloremque labore in?
        </div>
    </div>
</div>
{% endif %}
<!-- <div class="media post" style="{background: gray;position: absolute; bottom: 0;}">
    <div class="media-body">
        <h4 class="media-heading">Cargando más elementos
            <img class="pull-rigth" src="http://hero.epa.gov/resources/images/ajax_loader_large.gif" width="20">
        </h4>
    </div>
</div> -->
{% endblock %}
