<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	
	<h1>Login</h1>
	{% if user.is_active %}
		<h2>Hola, {{ user.username }}</h2>
	{% else %}
		<h2>No estás</h2>
	{% endif %}
	<form id="login_form" action="enter" method="POST">
		{% csrf_token %}

		<label for="username">Usuario</label>
		<input type="text" id="username" name="username"/>

		<label for="password">Contraseña</label>
		<input type="password" id="password" name="password">

		<input type="submit" value="entrar"/>
	</form>

	<form action="logout" method="POST">
		{% csrf_token %}
		<input type="submit" value="salir"/>
	</form>
</body>
</html>