{% extends "base.html" %} {% block user%}
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Perfil</a>
            </li>
            <li><a href="#">Configuración</a>
            </li>
            <li class="divider"></li>
            <li><a href="/logout">Salir</a>
            </li>
        </ul>
    </li>
</ul>
<a href="#">
    <img style="float:right" src="{{ critic.image }}" class="img-circle" width="50" height="50">
</a>
{% endblock %} {%block sidebar %} {% for category in categories %}
<li>
    <a href="category/{{category.id}}" class="list-group-item-diloo sidebar-element active-diloo-1">
        <img src="{{category.image}}" height="40" />{{category.name}}</a>
</li>


{% endfor %} {% endblock %} {%block feed %} {% if user.is_active %}
<div id="feed-publico" class="col-sm-8 col-md-6 feed">
    <h1>¿Qué ocurre?</h1>
    {% for review in reviews %}
    <div class="media post">
        <a class="pull-left" href="#">

            <img class="media-object img-rounded" src="{{ review.critic.image }}" width="50" height="50">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ review.title }}</h4>
            {{ review.content }}
        </div>
    </div>
    {% endfor %}
</div>

<div id="feed-privado" class="col-sm-8 col-md-6 feed">
    <h1>Personalizado</h1>
    {% for preview in personal_reviews %}
    <div class="media post">
        <a class="pull-left" href="#">

            <img class="media-object img-rounded" src="{{ preview.critic.image }}" width="50" height="50">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ preview.title }}</h4>
            {{ preview.content }}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div id="feed-publico" class="col-sm-8 col-md-10 col-md-offset-1 feed">
    <h1>¿Qué ocurre?</h1>
    {% for review in reviews %}
    <div class="media post">
        <a class="pull-left" href="#">

            <img class="media-object img-rounded" src="#" width="50" height="50">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ review.title }}</h4>
            {{ review.content }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<!-- <div class="media post" style="{background: gray;position: absolute; bottom: 0;}">
    <div class="media-body">
        <h4 class="media-heading">Cargando más elementos
            <img class="pull-rigth" src="http://hero.epa.gov/resources/images/ajax_loader_large.gif" width="20">
        </h4>
    </div>
</div> -->
{% endblock %}

